
.delete-container{
    font-family: "Open Sans Condensed", sans-serif;
border-top: 1px solid black;
margin-top: 2rem;
padding: 2rem 1rem;

}

.delete-button-div{
border-bottom: 1px dashed black;
padding-bottom: 2rem;
}