.container {
  font-family: "Open Sans Condensed", sans-serif;
  display: flex;
    // height: 58vh;
// border:1px solid red;
  padding-top: .7rem;
  padding-bottom: 7.1rem;
  //   background-image: src={};
  background-image: url("https://images.pexels.com/photos/2253934/pexels-photo-2253934.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");

  background-repeat: no-repeat;

  background-size: cover;
  background-color: rgba(37, 35, 35, 0.479);
  @media screen and (max-width: 900px) {
    display: flex;
    padding-top: 0px;
    flex-direction: column;
    align-items: center;
  }
}
.home-right {
  //   border: 3px solid red;
  padding-left: 8rem;
  width: 36%;

  .member {
    padding-top: .6rem;
    // border:1px solid red;
    // margin-bottom: 1.8rem;
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 2.5rem;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    @media screen and (max-width: 900px) {
      font-size: 1.6rem;
    }
  }

  @media screen and (max-width: 900px) {
    padding-top: 0rem;
    width: 75%;
    padding-top: 0rem;
    height: 80%;
  }
}

.home-left {
  //   border: 1px solid green;
  width: 50%;
  margin-block-end: 0em;
  text-align: center;
  align-items: center;
  .quote {
    padding-top: 20rem;

    width: 20rem;
    background-color: rgba(0, 0, 0, 0.39);
    margin: 0rem;

    font-size: 1.9rem;
    @media screen and (max-width: 900px) {
      background-color: rgba(37, 35, 35, 0.479);
    }
  }

  .welcome {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 3.5rem;
    color: white;
    padding-bottom: 0rem;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  }
  p {
    color: white;
    font-size: 1.8rem;
  }
  img {
    width: 2000px;
  }
  @media screen and (max-width: 900px) {
    padding-top: 2px;
    width: 100%;
  }
}
.top-home {
  // border:2px solid red;
  margin-top: .3rem;
  margin-bottom: 1.1rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  margin-left: 33%;
  @media screen and (max-width: 900px) {
  flex-direction: column;
    margin-left: 0%;
    padding-bottom: 2rem;

  }
  @media screen and (max-width: 900px) {
    padding-bottom: 0rem;
 }
}
.intro {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2.6rem;
  text-align: center;
  align-items: center;
  align-content: center;
}
