.move-card-section {
}

.move-card-div {
  // border:1px solid red;
  border-top: 1px solid black;
  margin-top: 2rem;
  padding: 0.1rem 1rem 1rem 1rem;
  font-family: "Open Sans Condensed", sans-serif;
}
.move-card-name {
  font-size: 2rem;
}

.move-card-img {
  width: 70%;
  border: 1px solid black;
}
.move-card-description {
  font-size: 1.6rem;
  // font-weight: 600;
}
