.Nav{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;

    text-decoration: none;
    height: 80px;
    align-items: center;
    font-size: 1.5rem;
    width: 99.8%;
    background-color: white;
    font-family: "Roboto Condensed", serif;
    text-decoration: none;
  background-color: #2a3439;
;

}


  a{
    color:white;
    text-decoration: none;
    font-family: "Open Sans Condensed", sans-serif;
    // border:1px solid white;

    /* text-decoration: none; */
  }
