.postform{
   display: flex; 
   flex-direction: column;
   font-family: "Open Sans Condensed", sans-serif;

}

.movelabel{
    
    font-size: 1.2rem;
    // margin-top: 3rem;
}
.postButton{
    margin-top: 1.3rem;
    font-family: "Open Sans Condensed", sans-serif;
   border: 1px solid #2a3439;
   color: #2a3439;
   border-radius: 4px;
   font-weight: 600;
   font-size: 1rem;

}
.post-name{
    // margin-top:1rem;
}
.post-description{
    // margin-top:1rem;
}